{% extends 'base.html' %}
{% block title %}Details{% endblock %}
{% block body %}
    <div class="container-fluid songs-container">
        <div class="row">
            <!-- Right Availability Info -->
            <div class="col-sm-8 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Task Details</h2>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Task</th>
                                <th>User</th>
                                <th>Instance ID</th>
                                <th>Day</th>
                                <th>Starting Time</th>
                                <th>Ending Time</th>
                                <th>Priority</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ availability.task.name }}</td>
                                <td>{{ availability.user }}</td>
                                <td>{{ availability.instanceId }}</td>
                                <td>{{ availability.day }}</td>
                                <td>{{ availability.startingTime }}</td>
                                <td>{{ availability.endingTime }}</td>
                                <td>{{ availability.priority }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <div class="col-sm-offset-11 col-sm-10">
                                <a href="{% url 'taskmanager:availabilityDelete' availability.pk %}">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}