{% extends 'listView.html' %}
{% block title %}Availabilities{% endblock %}
{% block availabilitiesView %}active{% endblock %}
{% block addButtonHref %}{% url 'taskmanager:availabilityAdd' %}{% endblock %}
{% block fieldNames %}
	<th>Task</th>
	<th>Instance ID</th>
	<th>Day</th>
	<th>Starting Time</th>
	<th>Ending Time</th>
	<th>Priority</th>
{% endblock %}
{% block tBody %}
	{% for availability in availability_list %}
		<tr>
			<td style="vertical-align: middle;">{{ availability.task.name }}</td>
			<td style="vertical-align: middle;">{{ availability.instanceId }}</td>
			<td style="vertical-align: middle;">{{ availability.day }}</td>
			<td style="vertical-align: middle;">{{ availability.startingTime }}</td>
			<td style="vertical-align: middle;">{{ availability.endingTime }}</td>
			<td style="vertical-align: middle;">{{ availability.priority }}</td>
			<td style="vertical-align: middle;">
				<a href="{% url 'taskmanager:availabilityDelete' availability.pk %}">
					<button class="btn btn-sm btn-danger">Delete</button>
				</a>
			</td>
		</tr>
	{% endfor %}
{% endblock %}