{% extends 'listView.html' %}
{% block title %}Tasks{% endblock %}
{% block taskView %}active{% endblock %}
{% block addButtonHref %}{% url 'taskmanager:taskAdd' %}{% endblock %}
{% block fieldNames %}
	<th>Name</th>
	<th>Type</th>
	<th>Place</th>
	<th>Notes</th>
{% endblock %}
{% block tBody %}
	{% for task in task_list %}
		<tr>
			<td style="vertical-align: middle;">{{ task.name }}</td>
			<td style="vertical-align: middle;">{{ task.type }}</td>
			<td style="vertical-align: middle;">{{ task.place }}
			<td style="vertical-align: middle;">{{ task.notes }}</td>
			<td style="vertical-align: middle;">
				<a href="{% url 'taskmanager:taskDelete' task.pk %}">
					<button class="btn btn-sm btn-danger">Delete</button>
				</a>
			</td>
		</tr>
	{% endfor %}
{% endblock %}