{% extends 'base.html' %}
{% block title %}Weekly Schedule {% endblock %}
{% block weeklyScheduleView %}active{% endblock %}
{% block body %}
    <h2>Weekly Schedule</h2>
    <ul>
        {% for weeklySchedule in weeklySchedule_list %}
            <li><a href="{% url 'taskmanager:weeklyScheduleDetails' weeklySchedule.id %}">{{ weeklySchedule.task.name }}
                - {{ weeklySchedule.day }} - {{ weeklySchedule.startingTime }}</a></li>
        {% endfor %}
    </ul>
    <div class="form-group">
        <div class="col-lg-4">
            <a href="{% url 'taskmanager:weeklySchedule-add' %}">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add a new
                    Weekly Schedule
                </button>
            </a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-4">
            <a href="{% url 'taskmanager:showdetails' %}">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-modal-window"></span> Show Details
                </button>
            </a>
        </div>
    </div>

{% endblock %}