body {
    background: linear-gradient(to top, #303F9F 0%, #6972c1 100%);
    /*background: white;*/
    min-height: 100vh;
}

.navbar {
    border-radius: 0;
}

.hasShadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}

.dark-primary-color {
    background: #303F9F;
}

.default-primary-color {
    background: #3F51B5;
}

.light-primary-color {
    background: #C5CAE9;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #448AFF;
}

.accent-color-icons {
    color: #448AFF;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}